<form action="register" method="post">  
    Name:<input type="text" name="name"><br>  
    Password:<input type="password" name="password"><br> 
    Administrator:<input type="checkbox" name="admin" ><br>
    <input type="submit" value="register">  
</form> 